<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">


<!-- Mirrored from themesflat.co/html/ecomus/home-gaming-accessories.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Jul 2025 16:21:56 GMT -->
<head>
    <meta charset="utf-8">
    <title>Ecomus - Ultimate HTML</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="Themesflat Ecomus - A modern and versatile eCommerce template designed for various online stores, including fashion, furniture, electronics, and more. SEO-friendly, fast-loading, and highly customizable.">

    <!-- font -->
    <link rel="stylesheet" href="~/fonts/fonts.css">
    <!-- Icons -->
    <link rel="stylesheet" href="~/fonts/font-icons.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/image-compare-viewer.min.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="~/images/logo/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/logo/favicon.png">

    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&amp;family=Montserrat:wght@300;400;500&amp;display=swap"
          rel="stylesheet">


</head>

<body class="preload-wrapper color-primary-14">

@await Component.InvokeAsync("Header")

            @RenderBody()

@await Component.InvokeAsync("Footer")        
    <!-- Javascript -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/carousel.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/lazysize.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/count-down.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/magnific-popup.min.js"></script>
    <script src="~/js/multiple-modal.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/iconify-icon.min.js"></script>

</body>


<!-- Mirrored from themesflat.co/html/ecomus/home-gaming-accessories.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Jul 2025 16:22:07 GMT -->
</html>
        
