@model RegisterClientViewModel

<section class="flat-spacing-10">
    <div class="container">
        <div class="form-register-wrap">
            <div class="flat-title align-items-start gap-0 mb_30 px-0">
                <h5 class="mb_18">Register</h5>
                <p class="text_black-2">
                    Sign up for early Sale access plus tailored new arrivals, trends and
                    promotions. To opt out, click unsubscribe in our emails
                </p>
            </div>
            <div>
                <form class="" id="register-form" method="post" accept-charset="utf-8"
                      data-mailchimp="true">
                    <span asp-validation-for="FirstName" style="display: block; color:darkred;font-style:italic; margin-bottom:3px"></span>
                    <div class="tf-field style-1 mb_15">
                        <input class="tf-field-input tf-input" placeholder=" " asp-for="FirstName">
                        <label class="tf-field-label fw-4 text_black-2" for="property1">First name</label>
                    </div>
                    <span asp-validation-for="LastName" style="display: block; color:darkred;font-style:italic; margin-bottom:3px"></span>
                    <div class="tf-field style-1 mb_15">
                        <input class="tf-field-input tf-input" placeholder=" " asp-for="LastName">
                        <label class="tf-field-label fw-4 text_black-2" for="property2">Last name</label>
                    </div>
                    <span asp-validation-for="UserName" style="display: block; color:darkred;font-style:italic; margin-bottom:3px"></span>
                    <div class="tf-field style-1 mb_15">
                        <input class="tf-field-input tf-input" placeholder=" " asp-for="UserName">
                        <label class="tf-field-label fw-4 text_black-2" for="property2">Username</label>
                    </div>
                    <span asp-validation-for="Email" style="display: block; color:darkred;font-style:italic; margin-bottom:3px"></span>
                    <div class="tf-field style-1 mb_15">
                        <input class="tf-field-input tf-input" placeholder=" "asp-for="Email">
                        <label class="tf-field-label fw-4 text_black-2" for="property3">Email *</label>
                    </div>
                    <span asp-validation-for="Password" style="display: block; color:darkred;font-style:italic; margin-bottom:3px"></span>
                    <div class="tf-field style-1 mb_15">
                        <input class="tf-field-input tf-input" placeholder=" " asp-for="Password">
                        <label class="tf-field-label fw-4 text_black-2" for="property4">Password *</label>
                    </div>
                    <span asp-validation-for="ConfirmPassword" style="display: block; color:darkred;font-style:italic; margin-bottom:3px"></span>
                    <div class="tf-field style-1 mb_30">
                        <input class="tf-field-input tf-input" placeholder=" " asp-for="ConfirmPassword">
                        <label class="tf-field-label fw-4 text_black-2" for="property4">Confirm Password *</label>
                    </div>
                    <div asp-validation-summary="ModelOnly" style="display: block; color:darkred;font-style:italic; margin-bottom:3px; font-size:12px"></div>
                    <div class="mb_20">
                        <button type="submit"
                                class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">
                            Register
                        </button>
                    </div>
                    <div class="text-center">
                        <a asp-action="Login" asp-controller="Register" class="tf-btn btn-line">
                            Already have an account? Log in here<i class="icon icon-arrow1-top-left"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>